{% extends "bootstrap/base.html" %}


{% block styles %}
    {{ super() }}
    <title>Mazi Whistletown's Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<!-- Page Header -->
{% include "header.html" %}
<header class="masthead" style="background-image: url('https://images.pexels.com/photos/414144/pexels-photo-414144.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Mazi Whistletown's Blog</h1>
                    <span class="subheading">A collection of random musings.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <!-- Search Bar -->
            
            <div class="sc-bYwyHq gvNtUq searchform__inputContainer">
                <form action="{{ url_for('search_review') }}" method="POST" role="combobox" aria-haspopup="listbox" aria-owns="react-autowhatever-navSuggestionSearch" aria-expanded="false" class="react-autosuggest__container">
                    <input type="text" autocomplete="off" aria-autocomplete="list" aria-controls="react-autowhatever-navSuggestionSearch" class="whistletownblog-header-search__input searchTypeahead__input react-autosuggest__input" id="suggestion-search" name="search" placeholder="Search" aria-label="Search WhistletownBlog" autocapitalize="off" autocorrect="off" spellcheck="true" value="">
                    <div id="react-autowhatever-navSuggestionSearch" role="listbox" class="sc-cxNGUP grBAEC react-autosuggest__suggestions-container whistletownblog-header__search-menu">
                        <div></div>
                    </div>
                    <button class="search-button" type="submit">🔍</button> <!-- Set type to submit -->
                </form>
                 <!--Flash Message-->
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class=flashes>
                            {% for message in messages %}
                                <li><strong>{{ message }}</strong></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>            
        <hr/>
            <!-- Post Preview -->
            {% for post in all_posts %}
                <div class="post-preview">
                    <a href="{{ url_for('show_post', post_id=post.id) }}">
                         <!-- Movie or Blog Poster -->
                        <div class="post-poster">
                            <img src="{{ post.img_url }}" alt="Poster for {{ post.title }}" class="floating-poster">
                        </div>
                        <h2 class="post-title"><strong>{{ post.title }}</strong></h2>
                        <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                    </a>
                    <p class="post-meta">
                        Posted by <a href="#">{{ post.author.name }}</a> on {{ post.date }}, Duration: {{ post.duration }} minutes.
                   
                    <!-- Only show edit/delete for post author -->
                    {% if (current_user == 3)  or (current_user.id == 1) %}
                        <a href="{{ url_for('edit_post', post_id=post.id) }}">✎ Edit</a>
                        <a href="{{ url_for('confirm_delete', post_id=post.id) }}">✘ Delete</a>
                    {% endif %}
                </p>
                </div>
                <hr>
            {% endfor %}
            {% if current_user.is_authenticated and (current_user.id == 1 or current_user.id == 3) %}
                <div class="clearfix">
                    <a class="btn btn-primary float-right" href="{{ url_for('add_new_post') }}">New Post</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<hr>
{% include "footer.html" %}
{% endblock %}
